.bottom{
    width: 100%;
    background-color: #000;
    padding: 50px 0 0 0;
    overflow: hidden;
}
.bottom-con{
    width: 1280px;
    margin: 0 auto;
    background-color: yellowgreen;
}
.bottom-img{
    width: 380px;
    float: left;
    padding-top: 35px;
}
.bottom-right{
    width: 900px;
    float: left;
}
.service-left{
    width: 350px;
    height: 100px;
    padding-left: 100px;
   /*  background-color: yellow; */
    float: left;
}
.service-right{
    width: 349px;
    height: 100px;
    padding-left: 100px;
    /* background-color: yellow; */
    border-left: 1px solid #ffffff;
    float: left;
}
.service-right a{
    display: block;
    width: 90px;
    height: 90px;
    background:url(https://anta-cn-web.obs.myhwclouds.com/theme/images/antacn/qr-code.jpg)no-repeat center center ;
}
.service-left p{
    display:block;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}
.service-icon{
    width: 30px;
    height: 30px;
    background: url(https://anta-cn-web.obs.myhwclouds.com/theme/images/icons/service-w.svg) no-repeat;
}
.bottom-middle{
    margin: 15px 0 40px;
    float: left;
    margin-left: 14px;
    margin-top: 40px;
}
.bottom-middle span,.bottom-middle a{
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}
.fix{
    position: fixed;
    background: url(https://anta-cn-web.obs.myhwclouds.com/theme/images/icons/web-cover.svg) no-repeat;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 275px;
    z-index: 9999;
}
.top{
    width: 100%;
    height: 33.33%;
    /* background-color: yellow; */
    float: left;
    cursor: pointer;
}
.fix a{
    width: 100%;
    height: 33.33%;
    /* background-color: yellow; */
    float: left;
}